h2 {
    font: 400 80px/1.2 'Merienda One', Helvetica, sans-serif;
    color: #85144b;
    text-shadow: 3px 3px 3px #fff;
  }


a{
    font-size:30px;  
       color:#001f3f;
       font-weight:5000;
}