<html>
<head>
    <title>ESC Annual Membership</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
<h3 align="center" style="font-weight:3000;">Application Form for Membership With
    Electronics and Computer Software Export Promotion Council of India
    </h3>
<p >Note : 
    1. Please keep a soft copy of your IEC number.<br>
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp;2. Keep the payment details of annual membership fee ready.<br> 
       <a href="/esc1"><p style="margin-left:70px;">Click HERE to pay annual membership fee</p></a>
</p>

<div align="center" ><a href="/application" class="btn btn-info">PROCEED FOR REGISTRATION</a></div>
</div>
</body>

</html>