<html>
<head>
    <title>ESC Annual Membership</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">
<h3 align="center">ESC ANNUAL MEMBERSHIP FEE </h3><br>
<div style="overflow-x:auto;">
<table border="1">
<thead>
 <tr>
    <th>Export performance (FOB value + Deemed export )  in the  preceding financial year</th>
    <th>Applicable Annual Renewal Fee (Rs)</th>   
    <th>GST @ 18% (Rs)</th> 
    <th>TOTAL ANNUAL MEMBERSHIP FEE </th> 
</tr>
</thead>  
<tbody>

<tr>
        <td>Export More than or equal to Rs. 1 crore</td>
        <td>26000/-</td>
        <td>4680/-</td>
        <td>Rs. 30680/-</td>
</tr>
<tr>
    <td>Export More than or equal to 50 lakhs and up to Rs. 1 crore</td>
    <td>19750 /-</td>
    <td>3555/-</td>
    <td>Rs. 23305/-</td>
</tr>
<tr>
    <td>Export More than or equal to 10 lakhs and up to Rs. 50 lakhs</td>
    <td>13500/-</td>
    <td>2430/-</td>
    <td>Rs. 15930/-</td>
</tr>
<tr>
    <td>Export Up to Rs. 10 lakhs</td>
    <td>8500/- for Non SSI and 4750/- for SSI companies</td>
    <td>1530/- for Non SSI
        855/- for SSI
        </td>
    <td>Rs. 10030/- for non SSI and Rs. 5605/- for SSI Companies</td>
</tr>
<tr>
    <td>Institute, Chamber of Commerce and Industry and Trade Association</td>
    <td>20000/-</td>
    <td>3600/-</td>
    <td>Rs. 23600/-</td>
</tr>

</tbody>
  
</table>
</div>
<div>
<pre style="font-family:'Times New Roman', Times, serif;">
       
    
        ESC bank details: 

        Beneficiary A/c Name 	    :	Electronics and Computer Software Export 
                                                        Promotion Council
        Beneficiary Address 	    :	ESC House, 155 Okhla Industrial Estate - III, 
                                                        New Delhi 110020
        Beneficiary’s Bank Details   
        --------------------------
        Bank Name 			:	Kotak Mahindra Bank Ltd
        Branch Name 		        : 	202, Okhla Industrial Estate, Phase – 
                                                        III, New Delhi 110020
        Account No 			: 	2212559390
        Account Type		        :	Saving Bank Account 
        NEFT/IFSC Code		: 	KKBK-000-4587 
        Service Tax no.		:  	AAATE0022CSD001 
        PAN  				:	AAATE0022C
        GSTIN				:	07AAATE0022C1ZN
        Email to confirm payment	:	vgupta@escindia.com
        
        
            
</pre>
</div>
</div>
</body>

</html>